
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerfooter {
    height: 19rem;
    padding: 15px;
    background-color: #e2e5e7;
    display: flex;
    justify-content: space-between;
  }

  .socialmedia {
    /* border: 5px solid cadetblue; */
    border-radius: 10px;
    /* background: #9fd1e4; */
    width: 32%;
    height: 100%;
    margin-left: 3rem;
    padding-left: 1rem;
  }
  .socialmedia h3 {
    font-size: xx-large;
    margin: 5px 0;
    font-family: "DM Serif Display";
    letter-spacing: 2px;
    /* color: #2d2b2b; */
    background-clip: text;
    background-image: linear-gradient(65deg, #aa1414, white);
  }

  .socialmedia p {
    font-family: cursive,'sans-serif';
    font-size: 1.2rem;
    font-weight: 400;
  }

  .icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .icon img {
    width: 50px;
    height: 50px;
    margin: 30px 13px 30px 15px;

  }

  .icon h5 {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, 100%);
    background-color: none;
    color: #9783c1;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    letter-spacing: 3px;
    font-family: cursive;
    margin: 5px;
  }

  .icon:hover h5 {
    animation: moveUp 0.5s forwards ease-in-out;

  }

  @keyframes moveUp {
    from {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -250%);
      opacity: 1;
    }
  }

  .implinks {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
  }
  h3 {
    font-size: 1.7rem;
    font-family: 'DM Serif Display';
    letter-spacing: 2px;
  }

  .implinks .fbutton {
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: serif,Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4rem;
    padding:20px 0px 9px 20px;
    /* height: ; */
  }

  .implinks .fbutton:hover{
    color:#a363aa;
    background: none;
  }

  .contectinfo{
    /* background: #9fd1e4;
    border: 3px solid cadetblue; */
    /* border-radius: 5px; */
    display: grid;
  }
  .address{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: serif,Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 14px;

  }

  .Gmail{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: serif,Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 14px;

  }
  .Phoneno{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: serif,Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 14px;

  }

  .contectinfo img{
    height: 2rem;
    width: 2rem;
  }

  footer h4{
    background: #a6ffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer h4 a{
    margin: 1px;
    text-decoration: none;
    color: #ffffff;
    cursor: grab;
  padding-left: 5px;
  }

  @media (max-width:800px) {
    .containerfooter{
     height: fit-content;
    }
    .socialmedia {
      margin: 0;
      padding: 5px;
      width: 50%;
    }

    .socialmedia h3{
      font-size: 20px;
    }
    .socialmedia p{
      font-size: 16px;
    }

    .icon img {
      width: 25px;
      height: 30px;
      margin: 30px 5px 30px 5px;
  
    }
    .icon h5{
      font-size: 10px;
    }
    .implinks h3{
      font-size: 20px;

    }
    
    .implinks .fbutton{
      /* text-align: center; */
      font-size: 15px;
      padding: 0;
      margin: 12px;
    }

    .contectinfo{
      display: none;
    }
    .contectinfo h5 {
     font-size: 10px;
    }
    .contectinfo img{
      height: 15px;
      width: 15px;
    }
    footer h4 {
        background: none;
    }
  }


  @media (min-width: 601px) and (max-width: 1024px) {

  .icon img {
    width: 35px;
    height: 40px;
    margin: 30px 13px 30px 15px;
}
  }